In [ ]:
## Importing Libraries

In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
sheets = pd.read_excel('Regional Sales Dataset.xlsx',sheet_name = None)

In [69]:
# Assign dataframe to each sheet

In [70]:
df_sales = sheets['Sales Orders']
df_customers = sheets['Customers']
df_products = sheets['Products']
df_regions = sheets['Regions']
df_state_reg = sheets['State Regions']
df_budgets = sheets['2017 Budgets']

In [71]:
df_sales.head()

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Line Total,Total Unit Cost
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,14994.6,1824.343
1,SO - 0003378,2014-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,25868.7,1269.918
2,SO - 0005126,2014-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,5869.2,684.740
3,SO - 0005614,2014-01-01,42,Export,USD,AXW291,473,7,7,2338.3,16368.1,1028.852
4,SO - 0005781,2014-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,18331.2,1260.270

In [72]:
df_sales.shape

(64104, 12)

In [73]:
new_header = df_state_reg.iloc[0]
df_state_reg.columns = new_header
df_state_reg = df_state_reg[1:].reset_index(drop=True)

df_state_reg.head()

0 State Code       State Region
0         AL     Alabama  South
1         AR    Arkansas  South
2         AZ     Arizona   West
3         CA  California   West
4         CO    Colorado   West

In [74]:
df_sales.isnull().sum()

OrderNumber                  0
OrderDate                    0
Customer Name Index          0
Channel                      0
Currency Code                0
Warehouse Code               0
Delivery Region Index        0
Product Description Index    0
Order Quantity               0
Unit Price                   0
Line Total                   0
Total Unit Cost              0
dtype: int64

In [75]:
df_sales.isnull().sum()

OrderNumber                  0
OrderDate                    0
Customer Name Index          0
Channel                      0
Currency Code                0
Warehouse Code               0
Delivery Region Index        0
Product Description Index    0
Order Quantity               0
Unit Price                   0
Line Total                   0
Total Unit Cost              0
dtype: int64

In [76]:
df_customers.isnull().sum()

Customer Index    0
Customer Names    0
dtype: int64

In [77]:
df_products.isnull().sum()

Index           0
Product Name    0
dtype: int64

In [78]:
df_regions.isnull().sum()

id               0
name             0
county           0
state_code       0
state            0
type             0
latitude         0
longitude        0
area_code        0
population       0
households       0
median_income    0
land_area        0
water_area       0
time_zone        0
dtype: int64

In [79]:
df_state_reg.isnull().sum()

0
State Code    0
State         0
Region        0
dtype: int64

In [80]:
df_budgets.isnull().sum()

Product Name    0
2017 Budgets    0
dtype: int64

Data Cleaning And Wrangling

In [81]:
# Merge With Customers

df = df_sales .merge(df_customers,
                    how ='left',
                    left_on = 'Customer Name Index',
                    right_on= 'Customer Index'
                    )

In [82]:
df_sales.head()

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Line Total,Total Unit Cost
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,14994.6,1824.343
1,SO - 0003378,2014-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,25868.7,1269.918
2,SO - 0005126,2014-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,5869.2,684.740
3,SO - 0005614,2014-01-01,42,Export,USD,AXW291,473,7,7,2338.3,16368.1,1028.852
4,SO - 0005781,2014-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,18331.2,1260.270

In [83]:
# Merge With Products

df = df.merge(
    df_products,
    how="left",
    left_on="Product Description Index",
    right_on="Index"
)

In [84]:
df.head(5)

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Line Total,Total Unit Cost,Customer Index,Customer Names,Index,Product Name
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,14994.6,1824.343,126,Rhynoodle Ltd,27,Product 27
1,SO - 0003378,2014-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,25868.7,1269.918,96,Thoughtmix Ltd,20,Product 20
2,SO - 0005126,2014-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,5869.2,684.740,8,Amerisourc Corp,26,Product 26
3,SO - 0005614,2014-01-01,42,Export,USD,AXW291,473,7,7,2338.3,16368.1,1028.852,42,Colgate-Pa Group,7,Product 7
4,SO - 0005781,2014-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,18331.2,1260.270,73,Deseret Group,8,Product 8

In [85]:
# Merge With Region

df = df.merge(
    df_regions,
    how ='left',
    left_on = 'Delivery Region Index',
    right_on= 'id'
)

In [86]:
df.head(5)

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,...,type,latitude,longitude,area_code,population,households,median_income,land_area,water_area,time_zone
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,...,City,32.08354,-81.09983,912,145674,52798,36466,268318796,13908113,America/New York
1,SO - 0003378,2014-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,...,City,39.61366,-86.10665,317,55586,20975,54176,72276415,1883,America/Indiana/Indianapolis
2,SO - 0005126,2014-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,...,City,37.66243,-121.87468,925,79510,26020,124759,62489257,386195,America/Los Angeles
3,SO - 0005614,2014-01-01,42,Export,USD,AXW291,473,7,7,2338.3,...,City,39.16533,-86.52639,812,84067,30232,30019,60221613,475857,America/Indiana/Indianapolis
4,SO - 0005781,2014-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,...,Town,41.77524,-72.52443,959,58007,24141,63158,70972793,720300,America/New York

In [87]:
df_state_reg = pd.read_excel(
    "Regional Sales Dataset.xlsx",
    sheet_name="State Regions",
    header=1   # ðŸ‘ˆ second row ko header maanega
)

print(df_state_reg.columns)

Index(['State Code', 'State', 'Region'], dtype='object')

In [88]:
# Merge With State Region

df = df.merge(
    df_state_reg[["State Code", "Region"]],
    how="left",
    left_on="state_code",
    right_on="State Code"
)

In [89]:
df.head()

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,...,longitude,area_code,population,households,median_income,land_area,water_area,time_zone,State Code,Region
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,...,-81.09983,912,145674,52798,36466,268318796,13908113,America/New York,GA,South
1,SO - 0003378,2014-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,...,-86.10665,317,55586,20975,54176,72276415,1883,America/Indiana/Indianapolis,IN,Midwest
2,SO - 0005126,2014-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,...,-121.87468,925,79510,26020,124759,62489257,386195,America/Los Angeles,CA,West
3,SO - 0005614,2014-01-01,42,Export,USD,AXW291,473,7,7,2338.3,...,-86.52639,812,84067,30232,30019,60221613,475857,America/Indiana/Indianapolis,IN,Midwest
4,SO - 0005781,2014-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,...,-72.52443,959,58007,24141,63158,70972793,720300,America/New York,CT,Northeast

In [90]:
# Merge With Budget

df = df.merge(
    df_budgets,
    how="left",
    on = 'Product Name'
)

In [57]:
df.to_csv('file.csv')

In [60]:
#Customer index
#Index
#id
#State Code


#Clean up redundant Column

cols_to_drop =['Customer Index','Index','id','State Code']
df= df.drop(columns = cols_to_drop,errors= 'ignore')
df.head(5)

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,...,latitude,longitude,area_code,population,households,median_income,land_area,water_area,time_zone,Region
0,SO - 000225,2014-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,...,32.08354,-81.09983,912,145674,52798,36466,268318796,13908113,America/New York,South
1,SO - 0003378,2014-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,...,39.61366,-86.10665,317,55586,20975,54176,72276415,1883,America/Indiana/Indianapolis,Midwest
2,SO - 0005126,2014-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,...,37.66243,-121.87468,925,79510,26020,124759,62489257,386195,America/Los Angeles,West
3,SO - 0005614,2014-01-01,42,Export,USD,AXW291,473,7,7,2338.3,...,39.16533,-86.52639,812,84067,30232,30019,60221613,475857,America/Indiana/Indianapolis,Midwest
4,SO - 0005781,2014-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,...,41.77524,-72.52443,959,58007,24141,63158,70972793,720300,America/New York,Northeast

In [ ]:
# Conert all columns to lower case

In [91]:
df.columns = df.columns.str.lower()
df.columns.values

array(['ordernumber', 'orderdate', 'customer name index', 'channel',
       'currency code', 'warehouse code', 'delivery region index',
       'product description index', 'order quantity', 'unit price',
       'line total', 'total unit cost', 'customer index',
       'customer names', 'index', 'product name', 'id', 'name', 'county',
       'state_code', 'state', 'type', 'latitude', 'longitude',
       'area_code', 'population', 'households', 'median_income',
       'land_area', 'water_area', 'time_zone', 'state code', 'region',
       '2017 budgets'], dtype=object)

In [93]:
#Keep imp col. and delete the col that we don't want

cols_to_keep =[
    'ordernumber',
    'orderdate',
    'customer name index',
    'channel',
    'product name',
    'order quantity',
    'unit price',
    'line total', 
    'total unit cost',
    'county',
    'state_code',
    'state',
    'region',
    'latitude',
    'longitude',
    '2017 budgets'
    
]
df= df[cols_to_keep]

In [94]:
df.head()

,ordernumber,orderdate,customer name index,channel,product name,order quantity,unit price,line total,total unit cost,county,state_code,state,region,latitude,longitude,2017 budgets
0,SO - 000225,2014-01-01,126,Wholesale,Product 27,6,2499.1,14994.6,1824.343,Chatham County,GA,Georgia,South,32.08354,-81.09983,964940.231
1,SO - 0003378,2014-01-01,96,Distributor,Product 20,11,2351.7,25868.7,1269.918,Johnson County,IN,Indiana,Midwest,39.61366,-86.10665,2067108.120
2,SO - 0005126,2014-01-01,8,Wholesale,Product 26,6,978.2,5869.2,684.740,Alameda County,CA,California,West,37.66243,-121.87468,5685138.270
3,SO - 0005614,2014-01-01,42,Export,Product 7,7,2338.3,16368.1,1028.852,Monroe County,IN,Indiana,Midwest,39.16533,-86.52639,889737.555
4,SO - 0005781,2014-01-01,73,Wholesale,Product 8,8,2291.4,18331.2,1260.270,Hartford County,CT,Connecticut,Northeast,41.77524,-72.52443,1085037.329

In [96]:
#Rename cols

df=df.rename(columns={
    'ordernumber':'order_name',
    'orderdate':'order_date',
    'customer name index':'customer_name_index',
    'channel':'channel',
    'product name':'product_name',
    'order quantity':'order_quantity',
    'unit price':'unit_price',
    'line total':'revenue', 
    'total unit cost':'cost',
    'county':'county',
    'state_code':'state_code',
    'state':'state_name',
    'region':'region',
    'latitude':'latitude',
    'longitude':'longitude',
    '2017 budgets':'budget'
    
})

In [99]:
#Blank Out budgets for non-2017 order
df.loc[df['order_date'].dt.year != 2017,'budget'] =pd.NA

df[['order_date','product_name','revenue','budget']].head(5)

  order_date product_name  revenue budget
0 2014-01-01   Product 27  14994.6   <NA>
1 2014-01-01   Product 20  25868.7   <NA>
2 2014-01-01   Product 26   5869.2   <NA>
3 2014-01-01    Product 7  16368.1   <NA>
4 2014-01-01    Product 8  18331.2   <NA>

In [100]:
df[['order_date','product_name','revenue','budget']].tail(5)

      order_date product_name  revenue budget
64099 2018-02-28   Product 26  21788.4   <NA>
64100 2018-02-28   Product 21   5185.8   <NA>
64101 2018-02-28   Product 13  43483.0   <NA>
64102 2018-02-28   Product 20  27717.9   <NA>
64103 2018-02-28   Product 15   7986.4   <NA>

In [101]:
# Filter the data set to include only records from year 2017

df_2017 = df[df['order_date'].dt.year ==2017]

In [102]:
df.isnull().sum()

order_name                 0
order_date                 0
customer_name_index        0
channel                    0
product_name               0
order_quantity             0
unit_price                 0
revenue                    0
cost                       0
county                     0
state_code                 0
state_name                 0
region                     0
latitude                   0
longitude                  0
2017_budgets               0
budget                 64104
dtype: int64

In [103]:
df_2017.head()

,order_name,order_date,customer_name_index,channel,product_name,order_quantity,unit_price,revenue,cost,county,state_code,state_name,region,latitude,longitude,2017_budgets,budget
46363,SO - 0002544,2017-01-01,107,Wholesale,Product 30,6,1239.5,7437.0,1028.785,Hudson County,NJ,New Jersey,Northeast,40.77955,-74.02375,1011609.684,NaN
46364,SO - 0006431,2017-01-01,116,Wholesale,Product 13,5,1829.1,9145.5,1207.206,Mesa County,CO,Colorado,West,39.06387,-108.55065,3720639.645,NaN
46365,SO - 0007491,2017-01-01,45,Wholesale,Product 15,9,2412.0,21708.0,1664.280,Los Angeles County,CA,California,West,33.96168,-118.35313,3299478.315,NaN
46366,SO - 0008741,2017-01-01,169,Wholesale,Product 8,8,904.5,7236.0,750.735,Dubuque County,IA,Iowa,Midwest,42.50056,-90.66457,1085037.329,NaN
46367,SO - 0009295,2017-01-01,20,Wholesale,Product 2,12,1112.2,13346.4,811.906,Hernando County,FL,Florida,South,28.47689,-82.52546,3050087.565,NaN